
.navbar .search{
    color: #00000070;
    border-color: #00000070;
}
.navbar .search::placeholder{
    color: #00000070;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.section-title{
    margin-left: 50px;
}

.all-products{
    margin-top: 100px;
}

.product-card{
    width: 32%;
}